extend ../layout

append styles
  link(rel="stylesheet", href="/css/home-messenger.css")

block main
  .main-chat-audio.d-flex
    .d-flex.flex-column.flex-fill.wrap-chat-audio-box
      .d-flex.flex-column.flex-fill.justify-content-center.ps-rv
        .wrap-my-video.d-none.over-hidden
          .over-hidden.d-flex.align-items-center.justify-content-center.h-100
            img(src=member.avatar, alt=member.name)
            video(name="video", autoplay, muted, style="display:none")
        .wrap-friend-video.d-none
          .over-hidden.d-flex.align-items-center.justify-content-center.h-100
            img(src=friend.avatar, alt=friend.name)
            video(name="video", autoplay, muted, style="display:none")
        .text-center.wrap-avatar-call
          img.rounded-circle.img-thumbnail(src=friend.avatar, alt=friend.name)
          video.d-none(autoplay=true)
        .text-center
          h3= friend.name
        .img-load-call.text-center
          img(src="/images/loader.svg", alt="loader")
        .text-calling.text-center.d-none
          h4 Đang gọi....
      .wrap-ctrl-call
        .wrap-ctrl-calling
          .d-flex.justify-content-center
            //- button.btn.btn-icon.share-ctrl-btn.btn-disabled
            //-   span.icomoon.icon-screen_share
            button.btn.btn-icon.ml-3.video-ctrl-btn.btn-disabled.ctrl-off
              span.icomoon.icon-videocam
            button.btn.btn-icon.ml-3.mic-ctrl-btn.ctrl-off.btn-disabled
              span.icomoon.icon-mic
            button.btn.btn-icon.btn-red.ml-3.end-call-btn
              span.icomoon.icon-telephone
        //- .wrap-ctrl-after-call.d-none
        //-   .d-flex.justify-content-center
        //-     button.btn.btn-icon.btn-green.call-again-btn
        //-       span.icomoon.icon-phone
        //-     button.btn.btn-icon.btn-red.ml-3.close-call-btn
        //-       span.icomoon.icon-close

append scripts
  script(src="/js/msg-chat-media.js")
