extend ../layout

append styles
  link(rel="stylesheet", href="/css/home-messenger.css")

block main
  .main-chat-audio.d-flex
    .d-flex.flex-column.flex-fill.wrap-chat-audio-box
      .d-flex.flex-column.flex-fill.justify-content-center.ps-rv
        .wrap-my-video.d-none.over-hidden
          .over-hidden.d-flex.align-items-center.justify-content-center.h-100
            img(src=member.avatar, alt=member.name)
            video(name="video", autoplay, muted, style="display:none")
        .wrap-friend-video.d-none
          .over-hidden.d-flex.align-items-center.justify-content-center.h-100
            img(src=friend.avatar, alt=friend.name)
            video(name="video", autoplay, muted, style="display:none")
        .text-center.wrap-avatar-call
          img.rounded-circle.img-thumbnail(src=friend.avatar, alt=friend.name)
          video.d-none(autoplay=true)
        .text-center
          h3= friend.name
        .img-load-call.text-center
          img(src="/images/loader.svg", alt="loader")
        .text-calling.text-center.d-none
          h4 Đang gọi....
      .wrap-ctrl-call
        .wrap-ctrl-calling
          .d-flex.justify-content-center
            .ps-rv
              button.btn.btn-icon.video-ctrl-btn.btn-disabled.ctrl-off
                span.icomoon.icon-videocam_off
              .popup-text Hãy gọi video để bật camera
            .ml-3.ps-rv
              button.btn.btn-icon.mic-ctrl-btn.ctrl-off.btn-disabled
                span.icomoon.icon-mic_off
              .popup-text Bật microphone
            .ml-3.ps-rv
              button.btn.btn-icon.btn-red.end-call-btn
                span.icomoon.icon-telephone
              .popup-text Kết thúc cuộc gọi

append scripts
  script(src="/js/msg-chat-media.js")
