extend ./layout

block contentMain
  #main.ps-rv.chat-page
    #main-messenger.d-flex.ps-rv
      #main-left.p-3.d-flex.flex-column
        #main-left-top.d-flex.justify-content-between.align-items-center
          h4.mb-0 Nhắn tin
          #room.d-flex.align-items-center.justify-content-center
            span.text-secondary.mr-3 Phòng họp 
            a.btn.btn-icon.btn-green(href="/create", role="button", title="Tạo phòng", target="_blank")
              span.icomoon.icon-plus
            a.btn.btn-icon.btn-purple.ml-2(href="/join", role="button", title="Tham gia vào phòng", target="_blank")
              span.icomoon.icon-sign-in
        #main-left-search.mt-2
          form.ps-rv.form-search-friend
            label.sr-only(for="search-friend")
            input#search-friend.form-control(type="text", name="q", placeholder="Tìm bạn bè để chat", autocomplete="off")
            span.icomoon.icon-icon-search
            .search-fri-res-box.d-none
              .loader-search.d-none.text-center
                img(src="/images/loader.svg" alt="loader")
              .s-fri-res-box
                .text-center.last-mb-none
                  p Kết quả tìm kiếm
                
        #main-left-friends.mt-2.flex-fill
          each friend in friends
            .friend-item.mt-1.ps-rv(class=`${friendChat ? friend.id === friendChat.id ? "is-active": "" : ""} ${friend.status === 'online' ? "is-online" : ""}`, data-id=friend.id)
              .friend-item-main.d-flex
                .friend-item-img.ps-rv
                  div.dot-status
                  img.rounded-circle.max-w-45(src=friend.avatar, alt=friend.name)
                .friend-item-info.ml-2
                  strong= friend.name
                  .last-msg.text-dark(class=`${friend.beRead ? '' : 'un-read'}`)
                    if (friend.latestMessage)
                      small= friend.latestMessage.msg
                      small= friend.latestMessage.timeFromNow
              a.ps-as(href=`/messenger/chat/${friend.url ? friend.url : friend.id}`, title=`${friend.name}`)
                span.sr-only= `Chat with ${friend.name}`
              button.fri-mana-btn.btn.btn-white.btn-icon.small-btn
                span.icomoon.icon-dots-three-horizontal
              .fri-mana-box.d-none
                a(href=`/messenger/member/${friend.url ? friend.url : friend.id}`).fri-mana-item.d-flex.align-items-center
                  span.icomoon.icon-info
                  span Xem thông tin

      if (friendChat)
        #main-right.flex-fill.d-flex.flex-column.ps-rv(data-id=friendChat.id)
          .dragzone.d-none
            .d-flex.justify-content-center.align-items-center.h-100.drag-inner
              div
                .text-center
                  span.icomoon.icon-insert_drive_file
                h4 Kéo thả tệp vào đây
          #main-right-top.d-flex.justify-content-between.p-2.align-items-center
            #main-right-top-left.d-flex
              .friend-img
                img.rounded-circle.max-w-45(src=friendChat.avatar, alt=friendChat.name)
              .friend-info.ml-2
                strong= friendChat.name
                br
                small.text-status !{statusText}
            #main-right-top-right.d-flex
              button#call-friend-btn.btn.btn-icon.small-btn.btn-green(type="button", title="Gọi").mr-2
                span.icomoon.icon-phone
              button#video-friend-btn.btn.btn-icon.small-btn.btn-purple(type="button", title="Gọi video")
                span.icomoon.icon-camera
          .wrap-msg-box.ps-rv.flex-fill
            .wrap-loader-chat.d-none
              img(src="/images/loader.svg", alt="loader")
            .scroll-bottom.text-center
              .has-new-msg Tin nhắn mới
              span.icomoon.icon-circle-down
            #main-right-chat-content.p-2.h-100
              each msg in messagesActive
                if (msg.class === 'msg-start')
                  .message.text-center(class=msg.class) !{msg.content}
                else
                  if (msg.me)
                    .message.text-right(class=msg.class, data-id=`${msg.id}`)
                      small.message-time= msg.time
                      div
                        .msg-me.ps-rv
                          if (msg.class !== 'deleted')
                            .more-msg
                              button.btn.btn-icon.btn-white.xs-btn(title="Xem thêm")
                                span.icomoon.icon-dots-three-vertical
                            .wrap-msg-mana.d-none
                              img.msg-mana-loader(src='/images/loader.svg', alt='loader')
                              if (msg.type === 'text')
                                .msg-mana-item.d-flex.align-items-center.edit-msg
                                  span.icomoon.icon-icon-edit
                                  span Sửa tin nhắn
                              .msg-mana-item.d-flex.align-items-center.del-msg
                                span.icomoon.icon-times-circle-o
                                span Xóa tin nhắn
                                button.btn.btn-icon.btn-red.confirm-del-msg.d-none.xs-btn(title="Xóa tin nhắn")
                                  span.icomoon.icon-checkmark
                          if (msg.fileName)
                            small.message-content.mx-0.d-flex
                              if (msg.type === 'image')
                                a(href=msg.content, target="_blank", title=msg.fileName)
                                  img.pre-img(src=msg.content, alt=msg.fileName)
                              else if (msg.type === 'video')
                                video.pre-video(src=msg.content, controls)
                              else if (msg.type === 'audio')
                                audio.pre-video.pre-audio(src=msg.content, controls)
                              else
                                a(href=msg.content, target="_blank")= msg.fileName
                          else if (msg.isLink)
                            small.message-content.mx-0
                              a(href=msg.content, target="_blank")= msg.content
                          else
                            small.message-content.mx-0= msg.content
                          if (msg.timeCall)
                            small.time-call= msg.timeCall
                  else
                    .message(class=msg.class, data-id=`${msg.id}`)
                      small.message-time= msg.time
                      div
                        .msg
                          img.message-avatar(src=msg.avatar, alt=msg.name)
                          if (msg.fileName)
                            small.message-content.d-flex
                              if (msg.type === 'image')
                                a(href=msg.content, target="_blank", title=msg.fileName)
                                  img.pre-img(src=msg.content, alt=msg.fileName)
                              else if (msg.type === 'video')
                                video.pre-video(src=msg.content, controls)
                              else if (msg.type === 'audio')
                                audio.pre-video.pre-audio(src=msg.content, controls)
                              else
                                a(href=msg.content, target="_blank")= msg.fileName
                          else if (msg.isLink)
                            small.message-content
                              a(href=msg.content, target="_blank")= msg.content
                          else
                            small.message-content= msg.content
                          if (msg.timeCall)
                            small.time-call= msg.timeCall

          #main-right-top-chat-input.mb-1.px-2.wrap-chat-input.ps-rv
            .files-upload-box.d-flex.justify-content-center.flex-wrap
            form.d-flex.align-items-center.ps-rv(name="sendMsgForm", method="post")
              label.btn.btn-default.send-file.m-0.p-2(for="send-file", title="Chọn tệp")
                span.icomoon.icon-insert_drive_file
              input#send-file.d-none(type="file", name="file", multiple)
              button.btn.btn-default.send-take-photo.m-0.p-2(data-toggle="modal", data-target="#modal-take-photo", title="Chụp ảnh")
                span.icomoon.icon-camera
              button.btn.btn-default.send-rec.m-0.p-2.ps-rv(title="Ghi âm")
                span.icomoon.icon-mic
                .rec-bar.d-none
                  .d-flex.align-items-center.justify-content-around
                    span.icomoon.icon-close.rec-cancel
                    span.rec-time 0:00
              button.btn.btn-default.open-emojis(type="button", title="Biểu tương cảm xúc") &#128512;
              input(type="hidden", name="_token", value=token)
              .flex-fill.wrap-msg-box.ps-rv
                textarea#msg.form-control(name="message", placeholder="Nhập tin nhắn", autocomplete="off")
              button.btn.btn-default.text-secondary(title="Gửi")
                span.icomoon.icon-send
              .confirm-popup.ps-rv.d-none
                .msg-output
                .text-center
                  button.btn.confirm-send-btn(type="button") Gửi
                button.btn.btn-icon.small-btn.btn-red.btn-close(type="button")
                  span.icomoon.icon-close.rec-cancel

    .overlay-calling.d-none.ps-as

append scripts
  script(src="/js/home-messenger.js")
//-   script(src="/scripts/moment.min.js")
//-   script(src="/scripts/emoji.js")
//-   script(src="/scripts/common-chat.js")
  