extend ../layout

append styles
  link(rel="stylesheet", href="/css/home-messenger.css")

block header
  #header.p-2.d-flex.justify-content-between
    #header-left.d-flex.align-items-center
      #logo
        a(href="/messenger", title="OH chat - Messenger")
          img(src="/images/logo-mini.png", alt="oh-chat", width="40px")
      #search.ml-1.ps-rv.show-loader
        label.sr-only(for="box-search") Search
        input.form-control.form-control-sm.box-search#box-search(type="text", placeholder="Tìm kiếm bạn bè")
        span.icomoon.icon-icon-search
        .search-res-box.d-none
          .wrap-s-res
            .pre-search-item
              .d-flex.align-items-center
                img.rounded-circle(alt='${friend.name}', src='http://res.cloudinary.com/haitrando/image/upload/v1614476109/ohchat/avatar/avatar-1614476108359-108497011.png', title='${friend.name}')
                .wrap-pre-s-right
                  .name-member Name
                  div
                    small Status
          .search-basic
            .d-flex.align-items-center
              span.icomoon.icon-icon-search
              .wrap-pre-s-right
                .name-member Tìm kiếm abc
          
    #header-right.d-flex.align-items-center
      #user
        a(href="/messenger/profile")
          img.rounded-circle.mr-1.avatar(src=memberAvatar, alt=`${memberName}`, width="30px")
          span= memberName
      #notification.mx-2
        button#member-notify-btn.btn.btn-icon.small-btn(type="button", data-toggle="collapse", data-target="#notify-drop", aria-controls="notify-drop")
          span.icomoon.icon-bell
      #info
        button#member-info-btn.btn.btn-icon.small-btn(type="button", data-toggle="collapse", data-target="#info-drop", aria-controls="info-drop")
          span.icomoon.icon-chevron-down
      #notify-drop.collapse(data-parent="#header-right", style="z-index: 1000")

      #info-drop.collapse(data-parent="#header-right", style="z-index: 1000")
        .p-3
          a.p-2.d-flex(href="/messenger/profile")
            div
              img.rounded-circle.avatar(src=memberAvatar, alt="oh-chat", width="55px")
            .ml-3
              span#member-id.d-none= memberId
              span= memberName
              br
              small Xem thông tin của bạn
          hr
          .w-100
            a.p-2(href="/messenger/setting")
              span.icomoon.icon-cog
              span.ml-2 Cài đặt
          .w-100
            a.p-2(href="/login/logout")
              span.icomoon.icon-sign-out
              span.ml-2 Đăng xuất

    

block main
  block contentMain
  .popup-has-call.d-none
    .d-flex.justify-content-center.align-items-center.h-100
      .wrap-pop-has-call
        button.btn.btn-icon.close-popup(type="button")
          span.icomoon.icon-close
        h3.title-call-info.text-center Cuộc gọi đến
        h3.title-call-miss.text-center Cuộc gọi nhỡ
        .d-flex.align-items-center.mb-3
          img.caller-img.rounded-circle(src="/images/default-avatar.jpg", alt="OH")
          .text-call-sub.last-mb-none
            h4.text-name-call Name đang gọi cho bạn
            p.text-secondary Cuộc gọi sẽ bắt đầu ngay sau khi bạn chấp nhận
          .text-miss-call-sub.last-mb-none
            h4 Bạn đã bõ lỡ cuộc gọi của name
            p.text-secondary Nhấn gọi lại để gọi lại cho name
        .text-right
          button.btn.btn-red.mr-3#btn-call-not-ok
            span.icomoon.icon-phone-off  Từ chối
          button.btn#btn-call-ok
            span.icomoon.icon-phone  Chấp nhận
          button.btn#btn-call-back
            span.icomoon.icon-phone  Gọi lại
  
  .wrap-chat-mini
    .wrap-btn-chat-mini
      button.btn.btn-icon(type="button")
        span.icomoon.icon-chat

append scripts
  script(src="/socket.io/socket.io.js")