extend ../layout

append styles
  link(rel="stylesheet", href="/css/home-messenger.css")

block header
  #header.p-2.d-flex.justify-content-between
    #header-left.d-flex.align-items-center
      #logo
        a(href="/messenger", title="OH chat - Messenger")
          img(src="/images/logo-mini.png", alt="oh-chat", width="40px")
      #search.ml-1.ps-rv.show-loader
        form.form-search-box(action="/messenger/search", method="get") 
          label.sr-only(for="box-search") Search
          input.form-control.form-control-sm.box-search#box-search(name="q", type="text", placeholder="Tìm kiếm bạn bè", autocomplete="off")
          span.icomoon.icon-icon-search
          .search-res-box.d-none
            label(for="submit-search").search-basic.d-block.mb-0
              .d-flex.align-items-center
                span.icomoon.icon-icon-search
                .wrap-pre-s-right
                  .name-member
                    span.text-secondary Tìm kiếm 
                    strong.text-search-box
            .loader-search-box.d-none.text-center
              img(src="/images/loader.svg" alt="loader")
            button#submit-search.d-none(type="submit") Search
            .wrap-s-res
              .text-center.last-mb-none
                p Kết quả tìm kiếm
          
    #header-right.d-flex.align-items-center
      #user
        a(href="/messenger/profile")
          img.rounded-circle.mr-1.avatar(src=memberAvatar, alt=`${memberName}`, width="30px")
          span= memberName
      #notification.mx-2
        button#member-notify-btn.btn.btn-icon.small-btn(type="button", data-toggle="collapse", data-target="#notify-drop", aria-controls="notify-drop")
          span.icomoon.icon-bell
      #info
        button#member-info-btn.btn.btn-icon.small-btn(type="button", data-toggle="collapse", data-target="#info-drop", aria-controls="info-drop")
          span.icomoon.icon-chevron-down
      #notify-drop.collapse(data-parent="#header-right", style="z-index: 1000")

      #info-drop.collapse(data-parent="#header-right", style="z-index: 1000")
        .p-3
          a.p-2.d-flex(href="/messenger/profile")
            div
              img.rounded-circle.avatar(src=memberAvatar, alt="oh-chat", width="55px")
            .ml-3
              span#member-id.d-none= memberId
              span#lang-assistant.d-none= langAss
              span#chat-mic-voice.d-none= chatMicVoice
              span#method-send.d-none= methodSend
              span= memberName
              br
              small Xem thông tin của bạn
          hr
          .w-100
            a.p-2(href="/messenger/setting")
              span.icomoon.icon-cog
              span.ml-2 Cài đặt
          .w-100
            a.p-2(href="/login/logout")
              span.icomoon.icon-sign-out
              span.ml-2 Đăng xuất

    

block main
  block contentMain
  .popup-has-call.d-none
    .d-flex.justify-content-center.align-items-center.h-100
      .wrap-pop-has-call
        button.btn.btn-icon.close-popup(type="button")
          span.icomoon.icon-close
        h3.title-call-info.text-center Cuộc gọi đến
        h3.title-call-miss.text-center Cuộc gọi nhỡ
        .d-flex.align-items-center.mb-3
          img.caller-img.rounded-circle(src="/images/default-avatar.jpg", alt="OH")
          .text-call-sub.last-mb-none
            h4.text-name-call Name đang gọi cho bạn
            p.text-secondary Cuộc gọi sẽ bắt đầu ngay sau khi bạn chấp nhận
          .text-miss-call-sub.last-mb-none
            h4 Bạn đã bõ lỡ cuộc gọi của name
            p.text-secondary Nhấn gọi lại để gọi lại cho name
        .text-right
          button.btn.btn-red.mr-3#btn-call-not-ok
            span.icomoon.icon-phone-off  Từ chối
          button.btn#btn-call-ok
            span.icomoon.icon-phone  Chấp nhận
          button.btn#btn-call-back
            span.icomoon.icon-phone  Gọi lại
  
  .wrap-chat-mini
    .wrap-btn-chat-mini
      button.btn.btn-icon.open-search-mini(type="button")
        span.icomoon.icon-chat
    .box-search-mini.d-none
      .d-flex.flex-column.w-100.h-100
        .b-s-m-top.d-flex.justify-content-between.align-items-center
          h4.mb-0 Tin nhắn mới
          button.close-search-mini.btn.btn-icon.small-btn.btn-red(type='button', title='Đóng search')
            span.icomoon.icon-close
        .b-s-m-input.d-flex.align-items-center
          label.mb-0.mr-2(for="s-fri-mini") Đến:
          input#s-fri-mini.form-control(type="text", autocomplete="off")
        .b-s-m-res.flex-fill
          .loader-search.d-none.text-center
            img(src="/images/loader.svg" alt="loader")
          .b-s-m-result
  #modal-take-photo.modal.fade(tabindex='-1', aria-labelledby='modal-take-photo', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header.align-items-center
          h4.modal-title Chụp ảnh
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .wrap-photo.d-none
            .photo-pre.mb-3
            .text-center
              button#send-photo-btn.btn(type="button") Gửi
              button#re-take-btn.btn.btn-white.ml-3(type="button") Chụp lại
          .wrap-takephoto
            .count-down.d-none.ps-as
              .wrap-num-cd.d-flex.justify-content-center.align-items-center.ps-as
                -var n = 3
                  while n > 0 
                    span(class='cd-num' + n)= n--
            video(autoplay=true, muted=true, controls=false)
  #is-taking.d-none

append scripts
  script(src="/socket.io/socket.io.js")