extend ./layout

block contentMain
  #main.ps-rv.member-page
    #info-area.my-2
      .container
        .d-md-flex.align-items-md-center.bg-light.p-3.justify-content-md-center.wrap-info-member
          .text-center.d-flex.align-items-center.justify-content-center.flex-md-column
            img.rounded-circle.img-thumbnail.avatar.max-w-150(src=member.avatar, alt=`${member.name}`)
          .mt-3.mt-md-0.pl-md-5
            table.table.table-sm
              tbody
                tr
                  td.text-secondary Họ tên
                  td= member.name
                tr
                  td.text-secondary Giới tính
                  td= member.gender ? 'Nam' : 'Nữ'
                tr
                  td.text-secondary Ngày sinh
                  td= member.birthday
                tr
                  td.text-secondary Điện thoại
                  td= member.phone
                tr
                  td.text-secondary Email
                  td= member.email
                tr
                  td.text-secondary Địa chỉ
                  td= member.address
        .bg-light.d-flex.justify-content-center.py-3.wrap-btn-ctrl
          if (statusFriend === 'friend')
            a.btn(href=`/messenger/chat/${member.url ? member.url : member.id}`) Chat
            button.des-friend.btn.btn-red.ml-3(data-id=member.id) Hủy kết bạn
          else if (statusFriend === 'friendRequest')
            button.des-req-friend.btn.btn-red(data-id=member.id) Hủy yêu cầu
          else if (statusFriend === 'friendInvitation')
            button.accept-inv-friend.btn.mr-3(data-id=member.id) Chấp nhận lời mời
            button.del-inv-friend.btn.btn-red(data-id=member.id) Xóa lời mời
          else
            button.req-friend.btn(data-id=member.id) Gửi lời mời kết bạn
  .popup-confirm.d-none
    .d-flex.justify-content-center.align-items-center.h-100
      .wrap-pop-confirm
        button.btn.btn-icon.close-popup-con(type="button")
          span.icomoon.icon-close
        h3.title-confirm.text-center Xác nhận
        .text-right
          button.btn.btn-red#btn-confirm Xác nhận


append scripts
  script(src="/js/msg-pagesub.js")
