extend ./layout

append styles
  link(rel="stylesheet", href="/styles/messenger/profile.css")

block contentMain
  #info-area.mt-2
    .container.d-md-flex.align-items-md-center.bg-light.p-3.justify-content-md-center
      .text-center.d-flex.align-items-center.justify-content-center.flex-md-column
        img.rounded-circle.img-thumbnail.avatar(src=member.avatar, alt=`${member.name}`, width="150px")
        .form-group.mt-md-2.ml-2.ml-md-0.mb-0
          label.btn.btn-secondary.btn-sm(for="avatar") Đổi ảnh đại diện
          input#avatar.d-none(type="file", name="avatar")
      .mt-2.mt-md-0.pl-md-5
        form
          .form-group.d-flex
            label.text-secondary(for="name", style="width: 130px") Họ tên
            input#name.form-control.form-control-sm(type="text", name="name", value=member.name)
          .form-group.d-flex
            label.text-secondary(for="email", style="width: 130px") Email
            input#email.form-control.form-control-sm(type="text", disabled, value=member.email)
          .form-group.d-flex
            label.text-secondary(for="birthday", style="width: 130px") Ngày sinh
            input#birthday.form-control.form-control-sm(type="date", name="birthday", value=birthOfDate)
          .form-group.d-flex
            label.text-secondary(style="width: 130px") Giới tính
            .form-check.form-check-inline
              input#male.form-check-input(type="radio", name="gender", checked=member.gender)
              label.form-check-label(for="male") Nam
              input#female.form-check-input.ml-2(type="radio", name="gender", checked=!member.gender)
              label.form-check-label(for="female") Nữ
          .form-group.d-flex
            label.text-secondary(for="phone", style="width: 130px") Điện thoại
            input#phone.form-control.form-control-sm(type="text", name="phone", value=member.phone)
          .form-group.d-flex
            label.text-secondary(for="address", style="width: 130px") Địa chỉ
            input#address.form-control.form-control-sm(type="text", name="address", value=member.address)
          .text-right
            button.btn.btn-sm.btn-success Lưu
  #friend-area
    .container
      ul.nav.nav-tabs.justify-content-center(role='tablist')
        li.nav-item(role='presentation')
          a#friend-tab.nav-link(data-toggle='tab', href='#friend', role='tab', aria-controls='friend') Bạn bè
        li.nav-item(role='presentation')
          a#friend-request-tab.nav-link(data-toggle='tab', href='#friend-request', role='tab', aria-controls='friend-request', aria-selected='false') Yêu cầu kết bạn
        li.nav-item(role='presentation')
          a#friend-invitation-tab.nav-link(data-toggle='tab', href='#friend-invitation', role='tab', aria-controls='friend-invitation', aria-selected='false') Lời mời kết bạn
      .tab-content
        #friend.tab-pane.fade.py-2(role='tabpanel', aria-labelledby='friend-tab')
          #friend-content.row
            .col-12.col-md-6
              .d-flex.align-items-center.border.p-2.rounded.my-2
                img.rounded-circle(alt="a", width="80px", data-src="/images/logo.png" class="lazyload")
                a.flex-fill.mx-2(href="#")
                  strong Name
                button.btn.btn-sm.btn-danger Hủy kết bạn
        #friend-request.tab-pane.fade.py-2(role='tabpanel', aria-labelledby='friend-request-tab')
          #friend-request-content.row
        #friend-invitation.tab-pane.fade.py-2(role='tabpanel', aria-labelledby='friend-invitation-tab')
          #friend-request-content.row

append scripts
  script(src="/scripts/member/profile.js")
