extend ./layout

block contentMain
  #main.ps-rv.search-page(data-query=query)
    .container
      h1.text-center Kết quả tìm kiếm
      .wrap-search-result
        each member in members
          .search-res-item(data-id=member._id)
            .d-flex.align-items-center.border.p-2.rounded.my-2
              img.rounded-circle(alt=member.name, width='80', height='80', src=member.avatar, title=member.name)
              a.flex-fill.mx-2(href=`/messenger/member/${member.url ? member.url : member._id}`, title=`${member.name}`)
                strong.name-member= member.name
              .d-flex.flex-column.fri-item-ctrl.align-items-stretch
                if (member.relatedWithMe === 'friend')
                  a.btn.mb-1(href=`/messenger/chat/${member.url ? member.url : member._id}`) Chat
                  button.des-friend.btn.btn-red(data-id=member._id) Hủy kết bạn
                else if (member.relatedWithMe === 'request')
                  button.des-req-friend.btn.btn-red(data-id=member._id) Hủy yêu cầu
                else if (member.relatedWithMe === 'invitation')
                  button.accept-inv-friend.btn.mb-1(data-id=member._id) Chấp nhận lời mời
                  button.del-inv-friend.btn.btn-red(data-id=member._id) Xóa lời mời
                else
                  button.req-friend.btn(data-id=member._id) Gửi lời mời kết bạn
      .text-center.load-more-search
        button.btn.btn-link Xem tiếp
      .loader-more.d-none
        img(src="/images/loader.svg" alt="loader")
  .popup-confirm.d-none
    .d-flex.justify-content-center.align-items-center.h-100
      .wrap-pop-confirm
        button.btn.btn-icon.close-popup-con(type="button")
          span.icomoon.icon-close
        h3.title-confirm.text-center Xác nhận
        .text-right
          button.btn.btn-red#btn-confirm Xác nhận

append scripts
  script(src="/js/msg-pagesub.js")
