<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- meta(http-equiv='Content-Security-Policy', content="script-src 'self' https://apis.google.com")
    //- meta(http-equiv="Content-Security-Policy", content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'")
    title= titleSite
    link(rel="shortcut icon", href="/images/logo.png", type="image/x-icon")
    block styles
      //- link(rel="stylesheet", href="/styles/bootstrap.min.css")
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      //- link(rel="stylesheet", href="/styles/fontawesome-free/css/all.min.css")
    script(src="https://kit.fontawesome.com/7312f418af.js", crossorigin="anonymous")
  body
    block header
    block main
    block footer
    block scripts
      script(src="/scripts/jquery.js")
      script(src="/scripts/popper.min.js")
      script(src="/scripts/bootstrap.min.js")
      script(src="/scripts/notify.min.js")
      script(src="/scripts/output-message.js")
      if (errorText)
        each error in errorText
          script(type='text/javascript')= `outputErrorMessage('${error}')`
      if (successText)
        each success in successText
          script(type='text/javascript')= `outputSuccessMessage('${success}')`
      if (infoText)
        each info in infoText
          script(type='text/javascript')= `outputInfoMessage('${info}')`
      if (warnText)
        each warn in warnText
          script(type='text/javascript')= `outputWarnMessage('${warn}')`
    