<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= titleSite
    link(rel="shortcut icon", href="/images/logo-mini.ico", type="image/x-icon")
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap', rel='stylesheet')
    block styles
  body.ps-rv
    #loadding-page.loadding-page
      .loader.d-flex.justify-content-center.align-items-center
        .lds-ellipsis
          div
          div
          div
          div
    .wrap-loader.d-none
      img(src="/images/loader.svg", alt="loader")
    block header
    block main
    block footer
    block scripts
    if (errorText)
      each error in errorText
        script(type='text/javascript')= `outputErrorMessage('${error}')`
    if (successText)
      each success in successText
        script(type='text/javascript')= `outputSuccessMessage('${success}')`
    if (infoText)
      each info in infoText
        script(type='text/javascript')= `outputInfoMessage('${info}')`
    if (warnText)
      each warn in warnText
        script(type='text/javascript')= `outputWarnMessage('${warn}')`
    