extends ./layout

block contentMain
  .content-area.d-flex.justify-content-center.align-items-center
    #form-x
      #chat-company.p-3
        img.mr-2(src="/images/logo-mini.png", alt="OH", width="80px")
        span.text-secondary OH Chat
      form.mt-2(name="createRoomForm")
        input(type="hidden", name="roomId", value=idRandom)
        input(type="hidden", name="passRoom", value=passwordRandom)
        input(type="hidden", name="memberId", value=memberId)
        label ID phòng 
        input#name.form-control(type="text", disabled=true, value=idRandom)
        label.mt-2 Mật khẩu phòng
        input#name.form-control(type="text", disabled=true, value=passwordRandom)
        label.mt-2(for="hostname")
          span Tên hiển thị
          span.text-danger &nbsp;*
        input#hostname.form-control(type="text", name="hostname", required=true, placeholder="Ít nhất 1 ký tự, nhiều nhất 30 kí tự", value=name)
        div
          em#err-join-name.text-danger
        .d-flex.justify-content-center.p-3
          button.btn.mr-4 Tạo phòng
          a.btn.btn-white(role="button", href="javascript:history.back()") Quay lại

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/create-room.js")