extends ./layout

block contentMain
  .content-area.d-flex.justify-content-center.align-items-center
    #form-x.mx-auto
      #chat-company.p-3
        img.mr-2(src="/images/logo-mini.png", alt="OH", width="80px")
        span.text-secondary OH Chat
      form.mt-2(name="joinRoomForm", action="/chat")
        input(type="hidden", name="memberId", value=memberId)
        label(for="name")
          span Tên hiển thị
          span.text-danger &nbsp;*
        input#name.form-control(type="text", name="name", required=true, placeholder="Ít nhất 1 ký tự, nhiều nhất 30 kí tự", value=name)
        div
          em#err-join-name.text-danger
        label.mt-2(for="room")
          span Phòng
          span.text-danger &nbsp;*
        input#room.form-control(type="text", name="roomId", required=true, placeholder="Nhập id phòng", value=roomId)
        label.mt-2(for="passRoom")
          span Mật khẩu phòng
          span.text-danger &nbsp;*
        input#passRoom.form-control(type="password", name="passRoom", required=true, placeholder="Nhập mật khẩu phòng", value=password)
        .d-flex.justify-content-center.p-3
          button.btn.mr-4 Tham gia
          a.btn.btn-white(role="button", href="javascript:history.back()") Quay lại

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/join-room.js")